<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Mall Management</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>


        .mybrdr {
            border: double;
            border-color: navy;
        }

        #overtop {
            background-color: darkgoldenrod;
            height: 12px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    @if (Session["userid"] != null)
    {
        @Html.Partial("adminnav")

        <div class="container body-content">
            <p style="color:black; text-align:center">@ViewBag.Msg</p>

            <p style="text-align:center;"> @Html.ActionLink("Solve Other Ticket", "HelpRequest", "Admin", new { @class = "btn btn-link" })</p>
        </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    }

    else
    {
        @Html.Partial("sessionexpired");
    }

</body>
</html>