
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping mall management</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        #overtop {
            background-color: darkgoldenrod;
            height: 12px;
        }
    </style>
</head>
<body>
    @if (Session["userid"] != null)
    {
        @Html.Partial("adminnav")
    <div class="container body-content">
        <div>


            @model IEnumerable<ShoppingProjectA.Models.RequestTable>
            @if (Model.Count() > 0)
            {
                <h2 style="color:navy; text-align:center;">Requests Table</h2>
                if(ViewBag.Message!=null)
                {
                    <script type="text/javascript">
                        window.onload = function () {
                            alert("@ViewBag.Message");
                        };
                    </script>
                }
                <div class="form-horizontal">
                    <table class="table table-striped">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.StoreNo)</th>
                            <th>@Html.DisplayNameFor(model => model.ShopOwnerName)</th>
                            <th>@Html.DisplayNameFor(model => model.BusinessCategory)</th>
                            <th>@Html.DisplayNameFor(model => model.Status)</th>
                            <th>@Html.DisplayName("Action")</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @{ string storeno = item.StoreNo; }
                                    @Html.ActionLink(storeno, "ViewRequests", "Admin")
                                </td>

                                <td>@Html.DisplayFor(model => item.ShopOwnerName)</td>

                                <td>@Html.DisplayFor(model => item.BusinessCategory)</td>

                                <td>
                                    @Html.DisplayFor(model => item.Status)
                                </td>
                                <td style="text-align:center">
                                    @Html.ActionLink("Approve", "ApproveReq", "Admin", new { name = item.ShopOwnerName, storeno = item.StoreNo },
                                                                      new { @class = "btn btn-success" })
                                </td>
                                <td style="text-align:center">
                                    @Html.ActionLink("Reject", "RejectReq", "Admin", new { name = item.ShopOwnerName, storeno = item.StoreNo },
                                                                      new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            }
            else
            {

                <h4 style="text-align:center; color: navy;">No Requests for now.</h4>
                
            }
        </div>
    </div>



        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    }
    else
    {
        @Html.Partial("sessionexpired");
    }
</body>
</html>
