<div id="overtop">
    <div style="background-color:green" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Shopping Mall", "Index", "Home", new { area = "" }, new { @style = "color:white;", @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li style="color:white; margin-left: 100px; margin-top:15px;"> Hey @TempData["shopOwnerName"] !</li>

                    <li style="margin-left: 5px;">@Html.ActionLink("Home", "ShopOwnerIndex2", "ShopOwner", new { area = "" }, new { @style = "color:white;" })</li>
                    @{
                        TempData["shopOwner"] = TempData["shopOwnerName"];
                        TempData["userId"] = TempData["shopOwnerUserId"];
                        TempData["rId"] = TempData["RId"];
                        Session["SID"] = Session["sId"];
                    }

                    <li style="margin-left: 5px;">@Html.ActionLink("My Profile", "EditProfile", "ShopOwner", new { area = "" }, new { @style = "color:white;" })</li>
                    <li style="margin-left: 5px;">@Html.ActionLink(" View Store Details", "FilterListShopOwner", "ShopOwner", new { area = "" }, new { @style = "color:white;" })</li>
                    <li style="margin-left: 5px;">@Html.ActionLink("Raise Request(Rent/Lease)", "DisplayStore", "ShopOwner", new { area = "" }, new { @style = "color:white;" })</li>
                    <li style="margin-left: 5px;">@Html.ActionLink("View Requests", "ShopOwnerRequestMin", new { name = (string)TempData["shopOwnerName"] }, new { @style = "color:white;" })</li>
                    <li style="margin-left: 5px;">@Html.ActionLink("Help", "Help", "ShopOwner", new { area = "" }, new { @style = "color:white;" })</li>
                    <li style="margin-left: 5px;">@Html.ActionLink("LogOut", "ReviewForm", new { userid = (string)TempData["userId"] }, new { @style = "color:white;" })</li>
                </ul>
            </div>

        </div>
    </div>
</div>
