<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Mall Management</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .myform {
            margin-top: 30px;
            border: double;
            border-color: navy;
            border-radius: 5px;
        }

        #myocc {
            margin-top: 30px;
        }

        #myocc1 {
            margin-top: 30px;
        }

        #overtop {
            background-color: darkgoldenrod;
            height: 12px;
        }
    </style>
</head>
<body>
    @if (Session["userid"] != null)
    {
        @Html.Partial("shopownernav")

        <div class="container body-content">

            @model ShoppingProjectA.Models.FilterList

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/jqueryval")


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <h2 style="color:navy; text-align: center;"> Apply Filter</h2>
                <div class="myform">

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Occupancy, htmlAttributes: new { @id = "myocc1", @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("Occupancy", new[] {
                                                                        new SelectListItem() { Text="Occupied", Value = "Occupied" },
                                                                        new SelectListItem() { Text="Vacant", Value = "Vacant" }
                                                                    }, new { @id = "myocc", @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.Occupancy, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("Type", new[] {
                                                                         new SelectListItem() { Text="rent", Value = "rent" },
                                                                         new SelectListItem() { Text="lease", Value = "lease" }
                                                                     }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("Location", new[] {
                                                                     new SelectListItem() { Text="1st floor", Value = "1st floor" },
                                                                     new SelectListItem() { Text="2nd floor", Value = "2nd floor" },
                                                                     new SelectListItem() { Text="3rd floor", Value = "3rd floor" },
                                                                     new SelectListItem() { Text="4th floor", Value = "4th floor" }
                                                                 }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div>
                            <p style="margin-left: 200px;">No filter required? @Html.ActionLink("Display All", "DisplayStoreMin", "ShopOwner")</p>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="View" class="btn btn-success" />
                            </div>
                        </div>
                    </div>

                </div>
            }


        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    }
    else
    {
        @Html.Partial("sessionexpired");
    }
</body>
</html>